*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --corDeFundo:#819dddfd;
    --corFonteDestaque: #034bf1;
    --corAlunoAprovado: rgb(96, 240, 96);
    --corAlunoRecuperacao: rgb(227, 255, 65);
    --corAlunoReprovado:rgb(245, 145, 145);
}

body{
    background-color: var(--corDeFundo);
}


.cabecalho{
    background-color: var(--cor01);
    text-align: center;
    padding: 50px 0px 25px 0px;
    color: var(--corFonteDestaque);

}

.cabecalho > img{
    border-radius: 5px;
}

.titulo{
    display: inline-block;
    margin: 10px;
    vertical-align: top;

}

.sub-titulo{
    padding-bottom: 40px;
    color: var(--corFonteDestaque);
}

.infors >p{
    display: inline-block;
    padding-left: 15px;
}
.conteudo{
    max-width: 940px;
    min-width: 610px;
    margin: auto;
    background-color: white;
    padding: 50px 5px;
    box-shadow: 0px 2px 17px #0000003d;
    border-radius: 10px;
    
}

.conteudo h2{
    text-align: center;
}

.conteudo p{
    line-height: 2em;
}


footer{
    text-align: center;
    padding: 20px;
    font-style: italic;
    font-size: 0.9em;
    font-weight: bold;
}